
body{
    background-image: url('backgroundpicture.jpg');
    background-size: 100%;
}

header{
    width: 100%;
    display: flex;
    background-color: #1F2937;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

a{
    color: lightblue;
    text-decoration: none;
}

img{
    max-width: 20%
}

.links{
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}