
body{
   
}

header{
    width: 100%;
    background-color: #1F2937;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
    height: 400px;
    text-align: center;
}

a{
    color: rgb(227, 236, 238);
    text-decoration: none;
    font-size: 18px;
}

img{
    max-width: 70%;
}

.top{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

#header_logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.header_info{
  width: 8000px;
}

.second_part{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

#thisWebsite{
    padding-top: 50px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin:0%;
    
}

#secondary_text{
 font-size: 18px;
 color: #E5E7EB;
 margin: 0%;
}

button{
    color: white;
    background-color: #3882F6;
    padding-left: 6px;
    border-radius: 5px;
    margin-top: 6px;
    border-color: #3882F6;
}

.Logo{
    padding-top: 60px;
}

.some_random_info{
    font-size:39px;
    font-weight: bolder;
    color: #1F2937;
    padding-top: 425px;
    padding-bottom: 10px;
    text-align: center;
}

.random_images{
  display: flex;
  justify-content: center;
  gap: 60px;
  border-width: 10px;
  border-color: #3882F6;
}

.images{
    border-width: 2px;
    border-color: #3882F6;
    border-style: solid;
    padding:60px;
    border-radius: 10px;
}

figcaption{
    width: 130px;
    text-align: center;
} 

p{

}